#submit {

    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    border: none;
    border-radius: 5px;
    background-color: #f05027;
    color: #fff;
    /* font color */
    font-weight: 600;
    font-family: inherit;
    font-size: 100%;
    width: 102%;
    padding: 10px;
    margin-bottom: 10px;

}

#copy {

    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    /* usual styles */
    border: none;
    background-color: #f05027;
    color: #fff;
    /* font color */
    font-weight: 600;
    float: right;
    padding: 10px;
    border-radius: 5px;
    right: 0px;

}

#copy:hover,
#submit:hover {
    background-color: #be2702;
    color: white;
}


input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="checkbox" ] {
    width: auto;
}

form {
    box-sizing: border-box;
    padding: 4rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    width: 100%;
}

.page-wrapper {
    margin:0 auto; /* this will center the page */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    padding: 20px;
    
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 7;
    padding: 20px;
}

.side-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.list-item {
    padding: 5px;
    margin: 0px;
    font-weight: 500;
    color: #606770;
}

.list-item:hover, .list-item:focus, .list-item.selected {
    color: #f05027;
    background-color: #0000000d;
    padding: 5px;
}

label {
    display:block;
}
